@import "src/styles/mixins";
@import "src/styles/global";

.container {
  margin: 0 auto;
  width: calc(100% - 32px);

  @include from($xl) {
    width: calc(100% - 64px);
  }

  @include from($xxl) {
    width: calc(100% - 128px);
  }

  @include from($lg) {
    width: calc(100% - 620px);
  }

  @include from($xlg) {
    width: calc(100% - 920px);
  }
}
