@import "src/styles/palette";
@import "src/styles/mixins";
@import "src/styles/global";

.headerWrapper {
  display: grid;
  grid-template-rows: 32px 1fr;
  grid-row-gap: 16px;
  padding-top: 32px;

  @include from($xs) {
    grid-template-rows: unset;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 131px max-content;
  }

  @include from($md) {
    padding-top: 56px;
    grid-template-columns: repeat(2, 1fr);
  }

  nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
    grid-row-gap: 8px;

    @include from($xs) {
      grid-template-columns: repeat(3, 80px);
      grid-column-gap: 16px;
      align-items: center;
      justify-self: end;
      margin-top: 0;
      margin-left: auto;
    }

    @include from($md) {
      width: 383px;
      grid-template-columns: repeat(3, 1fr);
      justify-content: space-between;
    }
  }
}

.link {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: $white;
  z-index: 1000;
  transition: color 200ms ease;

  &:hover {
    color: $light-blue;
    cursor: pointer;
    transition: color 200ms ease;
  }
}

.activeLink {
  border-bottom: 1px solid white;
}
